* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ffa6b7 10%, #1e2ad2 100%) fixed;
}

.container {
  position: relative;
  width: 400px;
  height: 400px;
}

.container .thumb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.container .thumb li {
  width: 90px;
  height: 90px;
  margin: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(4px);
}

.container .thumb li img {
  width: 80%;
  transform: scaleX(-1);
  transition: transform 350ms ease-in-out;
}

.container .thumb li:hover img {
  transform: scaleX(-1) rotate(-30deg);
}

.container .imgBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  padding: 50px 15px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container .imgBox h2 {
  color: white;
  letter-spacing: 1;
}

.container .imgBox img {
  width: 80%;
  transition: 300ms ease-in-out;
}

.container .imgBox img:hover {
  transform: scale(1.3) rotate(-15deg) translateX(20px);
}

.container .imgBox .size {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.container .imgBox .size span {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1;
  margin: 0 5px;
}

.container .imgBox .size li {
  width: 30px;
  height: 30px;
  background: white;
  color: rgb(0, 28, 184);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 4px;
  font-weight: bolder;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.container .imgBox .size li:hover {
  transform: translateY(-8px);
}

.container .imgBox .btn {
  position: absolute;
  bottom: -30px;
  display: inline-block;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  transition: 200ms ease-in-out;
  background: rgba(255, 255, 255, 0.2);
  /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05); */
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  color: white;
}

.container .imgBox .btn:hover {
  color: rgb(0, 28, 184);
  background: white;
  border: 1px solid white;
}
